<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}
  <title>CFP Parts Server</title>
  {% load static %}
  <link rel="icon" type="image/png" href="{% static 'img/logo.png' %}" />
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  {% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
      summary {
        list-style: none;
      }
      details>summary::marker {
        display:none;
      }
  </style>
  <script type="text/javascript" src="{% static 'js/qrcode.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/qrious.js' %}"></script>
</head>
<body class="bg-dark" onload="startTime()">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarCollapse">
      {% block navbar-nav %}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item mr-2 border-bottom">
          <a class="nav-link text-success" href="{% url 'partserver:index' %}">Home</a>
        </li>
        <li class="nav-item  mr-2 border-bottom">
          <a class="nav-link text-success" href="{% url 'partserver:schematics' %}">Schematic</a>
        </li>
        <li class="nav-item  mr-2 border-bottom">
          <a class="nav-link text-success" href="{% url 'partserver:manuals' %}">Manual</a>
        </li>
      </ul>
      {% endblock %}
      {% if user.is_authenticated %}
        <div>
          <span class="dropdown">
            <button class="btn btn-primary dropdown-toggle mx-2" type="button" id="uploadMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Upload
            </button>
            <div class="dropdown-menu text-center" aria-labelledby="uploadMenuButton">
              <a class="dropdown-item text-info" href="{% url 'partserver:part_create'%}?next={{request.path}}">Part</a>
              <a class="dropdown-item text-info" href="{% url 'partserver:schematic_create'%}?next={{request.path}}">Schematic</a>
              <a class="dropdown-item text-info" href="{% url 'partserver:manual_create'%}?next={{request.path}}">Manual</a>
            </div>
          </span>
          <span><a class="btn btn-outline-primary" href="{% url 'logout'%}?next={{request.path}}" role="button">Logout</a></span>
        </div>
      {% else %}
        <a class="btn btn-outline-success" href="{% url 'login'%}?next={{request.path}}" role="button">Login</a>  
      {% endif %}
    </div>
    </nav>
    <main class="container bg-dark">
      <div class="jumbotron">
        {% block content %}{% endblock %}
        {% block pagination %}
        {% load searchfilter %}
          {% if is_paginated %}
          	<div class="text-center">{{page_obj.number}} of {{page_obj.paginator.num_pages}}</div>
            <ul class="pagination justify-content-center">
              {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{{ request.path }}?detail={{ request.GET.detail }}&section={{ request.GET.section }}&line={{ request.GET.line }}&page={{ page_obj.previous_page_number }}">Previous</a></li>
              {% endif %}
              {% for page in page_obj.number|pagerange:page_obj.paginator.num_pages%}
              	{% ifequal page page_obj.number %}
          			<li class="page-item active"><a class="page-link" href="#">{{page}}</a></li>
          		{% else %}
          			<li class="page-item"><a class="page-link" href="{{ request.path }}?detail={{ request.GET.detail }}&section={{ request.GET.section }}&line={{ request.GET.line }}&page={{ page }}">{{page}}</a></li>
          		{% endifequal %}
          	  {% endfor %}
              {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{{ request.path }}?detail={{ request.GET.detail }}&section={{ request.GET.section }}&line={{ request.GET.line }}&page={{ page_obj.next_page_number }}">Next</a></li>
              {% endif %}
            </ul>
          {% endif %}
        {% endblock %}
      </div>
    </main>
    <footer>
      <div class="footer navbar-fixed-bottom text-right">
        {% if user.is_authenticated %}
          <p><a class="text-warning text-capitalize">User: {{ user.get_username }}</a></p>
        {% endif %}
        <p id="datetime" class="text-success"></p>
      </div>
    </footer>
{% load static %}
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<script type="text/javascript">
  function startTime() {
    var today = new Date();
    var month = today.getMonth() + 1;
    var day = today.getDate();
    var year = today.getFullYear();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    month = checkTime(month);
    day = checkTime(day);
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('datetime').innerHTML =
    month + "/" + day + "/" + year + " " + h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
  }
  function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
  }
</script>
</body>
</html>