{% extends "base_generic.html" %}

{% block content %}
{% load pdffilter %}
  <h1>Manual</h1>
  <div class="text-muted">
    Clicked the specific line!
  </div>
  {% if line_list %}
  <div>
    {% for line in line_list %}
      {% if line.name != "General" %}
        <details>
          <summary><h4 class="list-group-item list-group-item-action">{{line}}</h4></summary>
          {% for section in line.section.all %}
            <details>
              <summary><div class="btn btn-primary btn-block btn-md my-1">{{section}}</div></summary>
              {% for manual in manual_list|linefilter:line|sectionfilter:section %}
                <button type="button" class="btn btn-success btn-block btn-sm my-1" data-toggle="modal" data-target="#manualModal" onclick="manualPopup('{{ manual.name }}', '{{ manual.pdfFile.url }}', '{{ manual.pk }}')">
                  {{ manual.name }}
                </button>
              {% endfor %}
            </details>
          {% endfor %}
        </details>
      {% endif %}
    {% endfor %}
  </div>
  <div>
  </div>
  {% else %}
    <p>There are no line in the library.</p>
  {% endif %}
  <div class="modal fade" id="manualModal" tabindex="-1" role="dialog" aria-labelledby="manualModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="manualModalLabel"></h5>
          <a id="downloadQR" class="btn btn-success ml-1">Download QR code</a>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <a href="#" download="manual.png"><img class="img-fluid mx-auto w-50" id="pdfQR"></img></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          {% if user.is_authenticated %}
            <a id="manualDelete" class="btn btn-warning" href="{% url 'partserver:manual_delete' 99999 %}">Delete</a>
            <a id="manualUpdate" class="btn btn-warning" href="{% url 'partserver:manual_update' 99999 %}">Update</a>
          {% endif %}
          <a id="modalPDFOpen" class="btn btn-success" href="" target="_new">Open PDF</a>
        </div>
      </div>
    </div>
  </div>
  {% load static %}
  <script type="text/javascript">
    function manualPopup(modalLabel, pdfUrl, manualPK) {
      var manualUpdateButton = document.getElementById("manualUpdate");
      var manualDeleteButton = document.getElementById("manualDelete");
      if(manualUpdateButton) {
        var updateUrl = String(manualUpdateButton.href).replace("99999", manualPK);
        manualUpdateButton.href = updateUrl;
      }
      if(manualDeleteButton) {
        var deleteUrl = String(manualDeleteButton.href).replace("99999", manualPK);
        manualDeleteButton.href = deleteUrl;
      }
      document.getElementById("manualModalLabel").innerHTML = modalLabel;
      document.getElementById("modalPDFOpen").href = pdfUrl;
      var domainUrl = String(location.href).split("/")[2];
      var qr = new QRious({
        element: document.getElementById('pdfQR'),
        value: "http://" + domainUrl + pdfUrl,
          mime: 'image/jpg',
          size: 1920
      });
      document.getElementById('downloadQR').download = modalLabel + ".png";
      document.getElementById('downloadQR').href = qr.toDataURL();
    }
  </script> 
{% endblock %}
