 {% extends "base_generic.html" %}

{% block content %}
{% load searchfilter %}
  <h1>Parts</h1>
  <p>
  {% if request.GET.line or request.GET.section %}
    Result on <b>{{ request.GET.line|idtoname:line_list }} {{ request.GET.section|idtoname:section_list }}</b><br>
  {% endif %}
  {% if request.GET.detail %}
    Key word: <b>{{ request.GET.detail }}</b><br>
  {% endif %}
  {% if num_parts > 1%}
    <i>There are {{num_parts}} parts in the result.</i>
  {% elif num_parts %}
    <i>There is {{num_parts}} part in the result.</i>
  {% endif %}
  </p>

  <div class="container border border-success px-auto py-2 my-2">
    <details>
    <summary><h4 class="btn btn-primary btn-block">Click to expand search function</h4></summary>
    <form class="form-horizontal" action="{% url 'partserver:parts' %}" method="get">
      <div class="form-group">
        <label>Line:</label>
      <select class="form-control" name="line">
        <option value=""></option>
        {% for line in line_list %}
          {% if line.id|idcompare:request.GET.line %}
            <option selected="selected" value={{ line.id }}>{{ line.name }}</option>
          {% else %}
            <option value={{ line.id }}>{{ line.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label>Section:</label>
      <select class="form-control" name="section">
        <option value=""></option>
        {% for section in section_list %}
          {% if section.id|idcompare:request.GET.section %}
            <option selected="selected" value={{ section.id }}>{{ section.name }}</option>
          {% else %}
            <option value={{ section.id }}>{{ section.name }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label>Keyword (<i>e.g. part's name or material number</i>):</label>
        <input class="form-control" name="detail" type="text" placeholder="Search parts by key word or parts number">
      </div>
      <div class="form-group">
        <input class="btn btn-success right form-control" type="submit" value="Search">
      </div>
    </form>
    </details>
  </div>
  {% if part_list %}
  <div id="parts_list">
    {% for part in part_list %}<a class='list-group-item list-group-item-action' href='{{ part.get_absolute_url }}'>{{part.name}} ({{part.lines}})</a>{% endfor %}
  </div>
  {% else %}
    <p>There are no parts in the result.</p>
  {% endif %}   
{% endblock %}